html {
	height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato',Arial,sans-serif;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Alegreya Sans',Arial,sans-serif;
}

/* ---- TOP NAV MENU ---- */

.navbar {
	margin-bottom: 0;
    z-index: 10;
    font-family: 'Oswald',Arial,sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    background-color: #241912;   
}

.navbar-custom {
	margin-bottom: 0;
    border-bottom: 1px solid #fff;
}

.navbar-custom .navbar-brand {
    font-size: 1.3em;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
    text-decoration: none;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: #808080;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: #808080;
}

/* ---- JUMBOTRON & CAROUSEL ---- */

#jumbotron {
    color: #fff;
    font-weight: 4em;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding: 75px 0;
    text-align: center;
    background: no-repeat bottom center scroll;
    background-color: #333;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
}

#jumbotron img {
    width: ;
    height: auto;
	-webkit-filter: opacity(.2);
	filter: opacity(.2);
}

#jumbotron a:hover {
    color: #fff;
}

#image-carousel .minor-title {
    padding-top: 0.5em;
    font-weight: 300;
    font-family: 'Alegreya Sans',Arial,sans-serif;
    font-size: 1.5em;
}

/* ---- ABOUT ---- */

#about {
	background-color: #24A18B;
    box-shadow: inset 0px 10px 30px 0px #909090, 0px 10px 30px 0px #473225;
}

.biopic {
	width: 60%;
	padding-bottom: 2em;
}

.about-text {
	font-size: 1.2em
}

/* ---- PORTFOLIO ---- */

#portfolio {
	background-color: #EBD3C8;
	padding-bottom: 3%;
    box-shadow: inset 0px 10px 30px 0px #909090, 0px 10px 30px 0px #473225;
}

#portfolio .portfolio-area {
    margin-top: 2%;
}
/*
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
*/
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    /*max-width: 400px;*/
    /*
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);  
    */
}
.portfolio {
	background-color: #24A18B;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 93%;
    height: 93%;
    opacity: 0;
    background: #B2B2B2;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-image {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 3.5em;
    color: #fff;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-image i {
    margin-top: -12px;
}

/* ---- CONTACT ---- */

.contact {
	background-color: #3162B2;
}

#contact {
	background-color: #E5645D;
	padding-bottom: 3%;
    box-shadow: inset 0px 5px 20px 0px #909090, 0px 5px 20px 0px #473225;
}

/* ---- FOOTER ---- */

#footer {
	background-color: #333;
}

.icon-img {
	float: center;
	max-height: 75px;
	padding: 10% 0 10% 0;
}

#footer #copyright {
	color: #fff;
}